:root{
    /*colors*/
    --text-color: #fdfdfd;
    --header-background: rgba(0,0,0,0.85);
    --new-button: #222;
    --side-list-background: rgba(0,0,0,0.9);
    --workspace-background: #222;
}
.container{
    margin: 0 auto;
    width: 90%;
}
main{
    position: relative;
    height: calc(100vh - 2.6rem);
}