header{
    background-color: var(--header-background);
}
.header__side-list{
    position: absolute;
    left: 5px;
}
.header{
    align-items: center;
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
}
.header__title{
    color: var(--text-color);
    display: none;
    font-family: var(--title-font);
    font-size: 1.1rem;
}
.header__new{
    height: 1.6rem;
    flex-grow: 1;
    margin: 0 2rem;
    position: relative;
    width: 15rem;
}
.header__new___button{
    background-color: var(--new-button);
    border: 2pt solid #111;
    box-shadow: 1pt 1pt 1pt #000;
    color: var(--text-color);
    cursor: pointer;
    position: absolute;
    transition: all 0.25s;
    width: 100%;
    z-index: 1;
}
.header__new___button:active{
    box-shadow: none;
}
.header__new-task{
    background-color: var(--new-button);
    display: flex;
    height: calc(100% - 6pt);
    margin: 1.5pt;
    padding-left: 0.25rem;
    position: absolute;
    top: 0;
    width: calc(100% - 6pt);
    z-index: 0;
}
.header__new-task___input{
    background-color: var(--new-button);
    border: none;
    color: var(--text-color);
    flex-grow: 1;
}
.header__new-task___button{
    background-color: var(--new-button);
    border: none;
    cursor: pointer;
    color: var(--text-color);

}
.header__theme,.header__side-list{
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

@media screen and (min-width: 660px){
    .header__title{
        display: block;
    }
    .header__new{
        flex-grow: 0;
    }
}