.side-list{
    background-color: var(--side-list-background);
    color: var(--text-color);
    height: 100%;
    left: -300px;
    position: absolute;
    transition: all 0.5s;
    width: 300px;
}
.side-list---showed{
    left: 0;
}
.side-list__title{
    font-size: 1.2rem;
    text-align: center;
}